// BASE

@use './partials/base/reset';
@use './partials/base/tipografia';

// COMPONENTS

@use './partials/components/header';
@use './partials/components/body';
@use './partials/components/main';
@use './partials/components/footer';
@use './partials/components/buttons';
@use './partials/components/navbar';
@use './partials/components/accordion';
@use './partials/components/carousel';
@use './partials/components/cards'

