// BASE

@use './partials/base/reset';
@use './partials/base/tipografia';

// COMPONENTS

@use './partials/components/cards';
@use './partials/components/header';
@use './partials/components/body';
@use './partials/components/titles';
@use './partials/components/footer';
@use './partials/components/buttons';
@use './partials/components/navbar';
@use './partials/components/accordion';

