


.accordion{
    margin: 50px;
    .accordion-item{
        
        

        .accordion-body{
            background-color: lightgray;
            
            p{
                font-family: "Inter", sans-serif;
                color: black;

            }
        }
        .accordion-header{
            font-family: "Inter", sans-serif;
            color: black;

        }

    }
}