
//BODY BACKGROUNDS
.index-bg{
    background-image: url(../../../images/allcounts-bg-style-1.png);
    
}
.voluntariado-bg{
    background-image: url(../../../images/allcounts-bg-style-5.png);
}
.organizaciones-bg{
    background-image: url(../../../images/allcounts-bg-style-2.png);
}

.novedades-bg{
    background-image: url(../../../images/allcounts-bg-style-3.png);
}

.sobre-allcounts-bg{
    background-image: url(../../../images/allcounts-bg-style-4.png);
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}