
//BODY BACKGROUNDS
.index-bg{
    background-image: url(../../../images/1.png);
}
.voluntariado-bg{
    background-image: url(../../../images/5.png);
}
.organizaciones-bg{
    background-image: url(../../../images/2.png);
}

.novedades-bg{
    background-image: url(../../../images/3.png);
}

.sobre-allcounts-bg{
    background-image: url(../../../images/4.png);
}
