.button{

        a{
            display: inline-block;
            font-family: "Inter", sans-serif;
            text-decoration: solid;
            color: white;
            padding: 10px;
            border: solid white 3px;
            border-radius: 10px;
            background-color: #ffffff33;
        }
        text-align: center;
        font-size: 20px;
    }