@use '../base/tipografia';

//TIPOS DE CARDS Y VARIANTES


//BASIC-CARD

.basic-card{
    

    h4{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
        color: white;
        padding-right: 10px;
        
    }
    h5{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
        color: white;
        padding-right: 10px;

    }

    p{
        font-family: "Inter", sans-serif;
        color: white;
        padding-right: 10px;


    }
    ul{
        text-decoration: none;
        list-style: none;
        padding: 10px;

        li{
            font-family: "Inter", sans-serif;
            color: white;
            padding: 10px;
        }
    }
    img{
        display: block;
        margin: 0 auto;
        text-align: center;
        max-height: 80px;
        width: auto;
    }
    .button{

        a{
            display: inline-block;
            font-family: "Inter", sans-serif;
            text-decoration: solid;
            color: white;
            padding: 10px;
            border: solid white 3px;
            border-radius: 10px;
            background-color: #ffffff33;
        }
        display: inline-block;
        text-align: center;
        font-size: 20px;
        transform: 0.25s ease-out;
        box-shadow: 0.25s ease-out;
    }
    .button:hover{
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18)
    }
    margin: 50px;
    padding: 15px;
    border: white 3px solid;
    border-radius: 10px
}



//Basic-card types:

//Backgrounded

.basic-card-bg-w{
    @extend .basic-card;
    background-color: #ffffff33;
    
}
.basic-card-bg-b{
    @extend .basic-card;
    background-color: #00000033;
    
}

.basic-card-bg-cruzroja{
    @extend .basic-card;
    background-image: url(../../../images/cruzrojafondo.png);
}

.basic-card-bg-techo{
    @extend .basic-card;
    background-image: url(../../../images/techofondo.png);
}


//NOTICE-CARD

.card{
    margin: 30px;
    transform: 0.25s ease-out;
    box-shadow: 0.25s ease-out;
    
}
.notice-card{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
  
    h5{
        font-family: "Poppins", sans-serif;
        color: black;
        text-decoration: solid; 
        
    }

    .small-text{
        font-family: "Questrial", sans-serif;
        color: gray;
        font-size: x-small;
        
    }

    p{
        font-family: "Inter", sans-serif;
        color: black;
      
    }

    a{
        color: black;
        font-family: "Inter", sans-serif;
        font-size: small;
        text-decoration: none;
    }
    
     

}
.card:hover{
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18)
    }

//BORDER-CARD

.border-card{
    border: white solid 3px;
    border-radius: 10px;
}

