@use '../base/tipografia';

$bg-white-transparent: #ffffff33;
$bg-black-transparent: #00000033;
$bg-white: #ffffff;

$text-black: #000000;
$text-white: #ffffff;

$card-radius: 10px;
$card-padding: 10px;

.margin{
    margin: 30px;
}
.button{
        a{
            display: inline-block;
            font-family: "Inter", sans-serif;
            text-decoration: solid;
            color: white;
            padding: 10px;
            border: solid white 3px;
            border-radius: 10px;
            background-color: #ffffff33;
        }
        display: inline-block;
        text-align: center;
        font-size: 20px;
        transform: 0.25s ease-out;
        box-shadow: 0.25s ease-out;
        .button:hover{
            transform: translateY(-4px) scale(1.01);
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
        }
    }


.basic-card{
    background: $bg-black-transparent;
    color: $text-white;

    padding: $card-padding;
    border-radius: $card-radius;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0.85;
    transition: opacity 0,3s ease;
    &:hover{
        opacity: 1;
    }
    
    h3, h4, h5{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
    }

    p{
        font-family: "Inter", sans-serif;
        text-decoration: solid;
    }



}

.basic-card-left{
    @extend .basic-card;
    
    align-items: flex-start;
    text-align: left;
}

.notice-card{
    background-color: $bg-white;
    color: $text-black;

    padding: $card-padding;
    padding-left: 20px;
    border-radius: $card-radius;
    margin-bottom: 32px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0.85;
    transition: opacity 0,3s ease;
    &:hover{
        opacity: 1;
    }
    h5{
        font-family: "Poppins", sans-serif;
        margin: 0;
        text-decoration: solid;
    }
    p{
        text-decoration: solid;
        font-family: "Inter", sans-serif;
        margin: 0;
    }
    a{
        font-family: "Inter", sans-serif;
        text-decoration: none;
        color: $text-black;
        font-size: small;
    }
}

.featured-card{
    background-color: $bg-black-transparent;
    color: $text-white;
    padding: 48px;
    margin: 40px 0px;
    border-radius: $card-radius;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    opacity: 0.85;
    transition: opacity 0.3s ease;
    &:hover{
        opacity: 1;
    }
}

.image-card{
    background-color: $bg-black-transparent;
    color: $text-white;
    padding: $card-padding;
    margin-bottom: 32px;
    border-radius: $card-radius;
    display: flex;
    gap: 24px;
    align-items: center;
    opacity: 0.85;
    transition: opacity 0,3s ease;

    &:hover{
        opacity: 1;
    }
    .image-card-text{
        flex: 1;
        flex-direction: column;
        gap: 12px;

        h4{
            font-family: "Poppins", sans-serif;
            margin: 0;
            text-decoration: solid;
        }
        p{
            font-family: "Inter", sans-serif;
            text-decoration: solid;
        }
    }
    .image-card-img{
        flex: 1;
        img{
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px;
        }
    }
}

.image-card-left{
    @extend .image-card;
    flex-direction: row-reverse;
}

.image-top-card{
    background-color: $bg-black-transparent;
    color: $text-white;
    border-radius: $card-radius;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    opacity: 0.85;
    transition: opacity 0,3s ease;
    border: white 3px solid;
    &:hover{
        opacity: 1;
    }
    img{
        display: block;
        margin: 0 auto;
        text-align: center;
        max-height: 140px;
        width: auto;
        padding: 20px;
    }

   h4{
    font-family: "Poppins", sans-serif;
    text-decoration: solid;
    padding: $card-padding;
   }
   p{
    font-family: "Inter", sans-serif;
    text-decoration: solid;
    padding: $card-padding;
   }

}

@media (max-width: 768px){
    .image-card, .image-card-left{
        flex-direction: column;
    }
}