

.carousel {
  max-width: 1500px;
  margin: 0 auto;
}


.carousel-item {
  text-align: center;   
}


.carousel-img {
  width: 100%;
  height: auto;        
  max-height: 420px;    
  display: inline-block;
}

.carousel-inner {
  padding: 0;
}