@use '../base/tipografia';

//BASIC CARD

.basic-card{

    h4{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
        color: white;
        padding-right: 10px;
        
    }

    p{
        font-family: "Inter", sans-serif;
        color: white;
        padding-right: 10px;


    }

    .button{

        a{
            display: inline-block;
            font-family: "Inter", sans-serif;
            text-decoration: solid;
            color: white;
            padding: 10px;
            border: solid white 3px;
            border-radius: 10px;
            background-color: #ffffff33;
        }
        text-align: center;
        font-size: 20px;
    }
    ul{
        text-decoration: none;
        list-style: none;
        padding: 10px;

        li{
            font-family: "Inter", sans-serif;
            color: white;
            padding: 10px;
        }
    }
    img{
        display: block;
        margin: 0 auto;
        text-align: center;
        max-height: 80px;
        width: auto;
    }
    margin: 50px;
    padding: 15px;
    border: white 3px solid;
    border-radius: 10px
}

//BASIC-CARD TYPES

//Backgrounded:

.basic-card-bg-w{
    @extend .basic-card;
    background-color: #ffffff33;
    
}

.basic-card-bg-cruzroja{
    @extend .basic-card;
    background-image: url(../../../images/cruzrojafondo.png);
}

.basic-card-bg-techo{
    @extend .basic-card;
    background-image: url(../../../images/techofondo.png);
}



