@use '../base/tipografia';

//TITULOS Y ENCABEZADOS

.title{
    grid-area: title;
    margin: 50px;
    color: white;
    h1{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
        color: white;
       
    }
    h2{
        font-family: "Inter", sans-serif;
        color: white;
        text-decoration: underline;

    }
    h3{
        font-family: "Inter", sans-serif;
        color: white;

    }
     p{
        font-family: "Inter", sans-serif;
        color: white;
        padding-right: 10px;
    }
    h4{
        font-family: "Inter", sans-serif;
        color: white;
    }

    h5{
        font-family: "Inter", sans-serif;
        color: white;
    }

}

//INFORMACION

.info{
    grid-area: info;
}

//RESPONSIVE CELULAR
@media (max-width: 480px) {
  .title {
    margin: 12px;
    max-width: 100%;
  }

  .title h1 {
    font-size: 28px;
    line-height: 1.1;
  }
}