.navbar{
    background-color: #00000066;
    border-radius: 10px;
    margin: 32px 16px;
    .navbar-nav{
        .nav-item{
            .nav-link{
                font-family: "Inter", sans-serif;
                text-decoration: none;
                color: white;
                padding: 10px;
            }
        }
    }
    span{
        font-family: "Questrial", sans-serif;
        color: white;
        font: x-small;

    }
    .allcountslogo{
        width:150px;
        height:150px;
    } 
}

//RESPONSIVE CELULAR
@media (max-width: 480px) {
  .navbar {
    margin: 12px;
  }

  .navbar .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}