@use '../base/tipografia';
//TITULOS Y ENCABEZADOS

.title{
    margin: 50px;
    color: white;
    h1{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
        color: white;
        font-size: 50px;
    }
    h3{
        font-family: "Inter", sans-serif;
        color: white;

    }
     p{
        font-family: "Inter", sans-serif;
        color: white;
        padding-right: 10px;
    }

}

