
//TITULOS Y ENCABEZADOS

.title{
    h1{
        font-family: "Poppins", sans-serif;
        text-decoration: solid;
        color: white;
        font-size: 50px;
    }
    h3{
        font-family: "Inter", sans-serif;
        color: white;

    }
    margin: 50px;
}