/*FUENTES DE GOOGLE FONTS*/
/*INTER (Textos Largos y Parrafos) + POPPINS (Titulos, Encabezados y Navbar)*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*font-family: "Poppins", sans-serif; font-family: "Inter", sans-serif;*/
/*QUESTRIAL (Copyrights)*/
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*font-family: "Questrial", sans-serif*/
.basic-card h4, .basic-card-bg-techo h4, .basic-card-bg-cruzroja h4, .basic-card-bg-w h4 {
  font-family: "Poppins", sans-serif;
  text-decoration: solid;
  color: white;
  padding-right: 10px;
}
.basic-card h5, .basic-card-bg-techo h5, .basic-card-bg-cruzroja h5, .basic-card-bg-w h5 {
  font-family: "Poppins", sans-serif;
  text-decoration: solid;
  color: white;
  padding-right: 10px;
}
.basic-card p, .basic-card-bg-techo p, .basic-card-bg-cruzroja p, .basic-card-bg-w p {
  font-family: "Inter", sans-serif;
  color: white;
  padding-right: 10px;
}
.basic-card ul, .basic-card-bg-techo ul, .basic-card-bg-cruzroja ul, .basic-card-bg-w ul {
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
.basic-card ul li, .basic-card-bg-techo ul li, .basic-card-bg-cruzroja ul li, .basic-card-bg-w ul li {
  font-family: "Inter", sans-serif;
  color: white;
  padding: 10px;
}
.basic-card img, .basic-card-bg-techo img, .basic-card-bg-cruzroja img, .basic-card-bg-w img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-height: 80px;
  width: auto;
}
.basic-card .button a, .basic-card-bg-techo .button a, .basic-card-bg-cruzroja .button a, .basic-card-bg-w .button a {
  display: inline-block;
  font-family: "Inter", sans-serif;
  text-decoration: solid;
  color: white;
  padding: 10px;
  border: solid white 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.basic-card .button, .basic-card-bg-techo .button, .basic-card-bg-cruzroja .button, .basic-card-bg-w .button {
  text-align: center;
  font-size: 20px;
}
.basic-card, .basic-card-bg-techo, .basic-card-bg-cruzroja, .basic-card-bg-w {
  margin: 50px;
  padding: 15px;
  border: white 3px solid;
  border-radius: 10px;
}

.basic-card-bg-w {
  background-color: rgba(255, 255, 255, 0.2);
}

.basic-card-bg-cruzroja {
  background-image: url(../../../images/cruzrojafondo.png);
}

.basic-card-bg-techo {
  background-image: url(../../../images/techofondo.png);
}

.card {
  margin: 30px;
}

.notice-card {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 5px;
}
.notice-card h5 {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: solid;
}
.notice-card .small-text {
  font-family: "Questrial", sans-serif;
  color: gray;
  font-size: x-small;
}
.notice-card p {
  font-family: "Inter", sans-serif;
  color: black;
}
.notice-card a {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: small;
  text-decoration: none;
}

.border-card {
  border: white solid 3px;
  border-radius: 10px;
}

.index-bg {
  background-image: url(../../../images/1.png);
}

.voluntariado-bg {
  background-image: url(../../../images/5.png);
}

.organizaciones-bg {
  background-image: url(../../../images/2.png);
}

.novedades-bg {
  background-image: url(../../../images/3.png);
}

.title {
  margin: 50px;
  color: white;
}
.title h1 {
  font-family: "Poppins", sans-serif;
  text-decoration: solid;
  color: white;
  font-size: 50px;
}
.title h2 {
  font-family: "Inter", sans-serif;
  color: white;
  text-decoration: underline;
}
.title h3 {
  font-family: "Inter", sans-serif;
  color: white;
}
.title p {
  font-family: "Inter", sans-serif;
  color: white;
  padding-right: 10px;
}
.title h4 {
  font-family: "Inter", sans-serif;
  color: white;
}
.title h5 {
  font-family: "Inter", sans-serif;
  color: white;
}

.copyright {
  font-family: "Questrial", sans-serif;
  color: lightgray;
  font-size: small;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
